---
interface Props {
  title: string;
  description?: string;
  author?: string;
}
import { SiteConfig } from "@config";
import { siteTitle } from "@ut/returnSiteTitle.ts";
import AttachedStyles from "./AttachedStyles.astro";

const {
  title,
  description = SiteConfig.defaultDescription,
  author = SiteConfig.author,
} = Astro.props;

// TODO 三方 Link 的 Image 展示
---

<head>
  <!-- 标题 -->
  <title>{siteTitle(title)}</title>

  <!-- 字符集 -->
  <meta charset="UTF-8" />

  <!-- 描述和作者信息 -->
  <meta name="description" content={description} />
  <meta name="author" content={author} />

  <!-- 视口 -->
  <meta
    name="viewport"
    content={SiteConfig.viewportRecommend
      ? "width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=3.0, user-scalable=yes"
      : "width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"}
  />

  <!-- 三方 Link 所展示信息 -->

  <meta property="og:title" content={siteTitle(title)} />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:site_name" content={siteTitle(title)} />
  <meta property="og:description" content={description} />

  <!-- 其他内容 -->
  <meta name="robots" content="noindex, nofollow" />
  <link rel="shortcut icon" href={SiteConfig.avatarLink} />
  <script
    defer
    is:inline
    src={SiteConfig.umamiTrackingSrc}
    data-website-id={SiteConfig.websiteID}
    data-astro-prefetch="false"
    data-swup-ignore-script></script>
  <script>
    import { applyThemeWhileStartup } from "@ut/CustomizationUtils/themeUtils.ts";
    applyThemeWhileStartup();
  </script>
  <AttachedStyles />

  <slot name="AttachedHeader" /></head
>
